parameters:
  - name: environments
    type: string
    default: 'tst,prd'
  - name: build_parameter_file
    type: boolean
    default: true

jobs:
- job: build_solution
  displayName: 'Build Fabric Solution'
  pool:
    vmImage: 'windows-latest'

  variables:
  - name: PYTHONIOENCODING
    value: utf-8
  - name: PYTHONUNBUFFERED
    value: 1
  - name: DOTNET_SYSTEM_CONSOLE_ALLOW_ANSI_COLOR_REDIRECTION
    value: true
  - name: VSO_FORCE_UTF8_OUTPUT
    value: true
  - group: Fabric_Automation

  steps:
    - task: UsePythonVersion@0
      inputs:
        versionSpec: '3.12'

    - script: |
        python -m pip install --upgrade pip
        pip install -r automation/resources/requirements.txt
      displayName: 'Install Python dependencies'

    - script: python -u automation/scripts/utils_build_parameter_file_dynamic.py --target_environments ${{ parameters.environments }} --build_parameter_file ${{ parameters.build_parameter_file }}
      displayName: 'Build parameter files'
      env:
        TENANT_ID: $(SPN_TENANT_ID)
        CLIENT_ID: $(SPN_CLIENT_ID)
        CLIENT_SECRET: $(SPN_CLIENT_SECRET)

    - task: PowerShell@2
      displayName: 'Download Tabular Editor'
      inputs:
        targetType: 'inline'
        script: |
          $tePath = "$(Build.SourcesDirectory)\_tools\TabularEditor"
          New-Item -ItemType Directory -Path $tePath -Force | Out-Null
          
          Write-Host "Downloading Tabular Editor binaries..."
          $downloadUrl = "https://github.com/TabularEditor/TabularEditor/releases/latest/download/TabularEditor.Portable.zip"
          $zipFile = "$tePath\TabularEditor.zip"
          
          Invoke-WebRequest -Uri $downloadUrl -OutFile $zipFile
          Expand-Archive -Path $zipFile -DestinationPath $tePath -Force
          
          Write-Host "Tabular Editor downloaded successfully"
      
    - script: python -u automation/scripts/utils_build_semantic_models.py --model_dir "$(Build.SourcesDirectory)\solution\model" --tabulareditor_dir "$(Build.SourcesDirectory)\_tools\TabularEditor"
      displayName: 'Build semantic models (Fabric TMDL output)'

    - task: UseDotNet@2
      inputs:
        packageType: 'sdk'
        version: '8.0.x'

    - script: dotnet build "solution/core/Metadata.SQLDatabase/Metadata.sqlproj" /p:DSP=Microsoft.Data.Tools.Schema.Sql.SqlDbFabricDatabaseSchemaProvider
      displayName: 'Build Metadata .dacpac'

    - task: PublishBuildArtifacts@1
      inputs:
        PathtoPublish: 'solution'
        ArtifactName: 'solution'
        publishLocation: 'Container'

    - task: PublishBuildArtifacts@1
      inputs:
        PathtoPublish: 'automation'
        ArtifactName: 'automation'
        publishLocation: 'Container'